
{{#with fillin}}
    <div class="fillin-meta-long" fillin-id="{{id}}">
        <span class="meta-item meta-fillin-content"><a href="/fillin/{{id}}">{{meta_abbrev content}}</a></span>
        {{#if ../showUsernames}}
            &nbsp;by&nbsp; <span class="meta-item meta-username">{{user.username}}</span>
        {{/if}}
        &nbsp;|&nbsp;
        {{#if ../showTemplateTitles}}
            Template:&nbsp;&nbsp;<span class="meta-item meta-template-title"><a href="/template/{{template.id}}">{{template.title}}</a></span>
            &nbsp;|&nbsp;
        {{/if}}
        <span class="meta-item meta-comment-count">{{comment_count}}&nbsp;{{format_plural 'comment' comment_count}}</span>
        
        &nbsp;|&nbsp;
        
        <span class="meta-item meta-votes"><i class="fa-solid fa-thumbs-up"></i>&nbsp;&nbsp;{{vote_count}}</span>
        
        <p class="meta-item meta-created-at">
            Created&nbsp;on&nbsp;&nbsp;<span class="time">{{format_date created_at}}</span></span>
            {{#if ../showDeleteBtns}}
                &nbsp;&nbsp;<a class="delete-btn"><i class="fa-regular fa-trash-can"></i></a>
                <script src="/javascript/fillin/delete.js"></script>
            {{/if}}
        </p>
    </div>
{{/with}}