
<div class="template-wrapper">
    {{#with template}}
        <form
            class="template"
            {{#if ../fillin}}
                fillin-content="{{store_fillin_content ../fillin.content}}"
            {{/if}}
            template-id="{{id}}"
        >
            <header>
                <h3 class="template-title template-title-static">{{title}} <span>(by <i>{{user.username}})</i></span></h3>
                <div class="subheader">
                    {{#unless ../fillin}}
                        {{>redaction-slider redactionLvls=redaction_order.length}}
                    {{/unless}}
                </div>
            </header>

            <hr />


            <div class="template-body"></div> {{!-- Populated via the '/javascript/template/redaction.js' script --}}

            {{#unless ../fillin}}
                {{#if ../loggedIn}}
                    <span class="fillin-submit-instructions">Fill in, then&nbsp;&nbsp;<button type="submit" class="fillin-submit-btn">submit</button></span>
                    <p class="fillin-submit-error-msg error-msg"></p>
                {{/if}}
            {{/unless}}
        </form>
    {{/with}}

    {{#if fillin}}
        <div class="fillin-meta-short">
            <p>By <i>{{fillin.user.username}}</i> on <i>{{format_date fillin.created_at}}</i></p>

            <div class="votes">
                <a><i class="fa-solid fa-thumbs-up"></i></a>
                &nbsp;
                <span class="vote-count">{{fillin.vote_count}}</span>
            </div>
        </div>

        <script src="/javascript/fillin/populate-content.js"></script>
        <script src="/javascript/fillin/vote.js"></script>
    {{/if}}
</div>

<script src="/javascript/template/redaction.js"></script>
