
<div class="template-wrapper">
    {{#with template}}
        <form
            class="template"
            {{#if ../fillin}}
                fillin-content="{{store_fillin_content ../fillin.content}}"
            {{/if}}
        >
            <header>
                <h3>{{title}} <span>(by <i>{{user.username}})</i></span></h3>
                <div class="subheader">
                    {{#unless ../fillin}}
                        {{>redaction-slider redactionLvls=redaction_order.length}}
                    {{/unless}}
                </div>
            </header>

            <hr />


            <div class="template-body">        
                {{#each content as |elem|}}
                    {{#if elem.isStatic}}
                        {{#if (is_space_char elem.word)}}
                            &nbsp;
                        {{else if (compare elem.staticIndex null)}}
                            <b>{{elem.word}}</b>
                        {{else}}
                            <span class="static">{{elem.word}}</span>
                        {{/if}}
                    {{else if elem.isRedacted}}
                        <span class="redacted">{{redaction_string elem.redactedString}}</span>
                    {{else}}
                        <span class="mutable" mutable-index="{{elem.mutableIndex}}">{{#unless ../../fillin}}<input type="text" placeholder="{{elem.label}}" />{{/unless}}</span>
                    {{/if}}
                {{/each}}
            </div>

            {{#unless ../fillin}}
                <button type="submit" class="fillin-submit-btn">Submit</button>
            {{/unless}}
        </form>
    {{/with}}

    {{#if fillin}}
        <div class="fillin-meta">
            <p>By <i>{{fillin.user.username}}</i> on <i>{{format_date fillin.created_at}}</i></p>

            <div class="votes">
                <a><i class="fa-solid fa-thumbs-up"></i></a>
                &nbsp;
                <span class="vote-count">{{fillin.vote_count}}</span>
            </div>
        </div>

        <script src="/javascript/populate-fillin-content.js"></script>
        <script src="/javascript/vote.js"></script>
    {{/if}}
</div>
