
<div class="template-wrapper">
    {{#with template}}
        <form
            class="template"
            {{#if ../fillin}}
                fillin-content="{{store_fillin_content ../fillin.content}}"
                fillin-id="{{../fillin.id}}"
            {{/if}}
            template-id="{{id}}"
        >
            <header>
                <h3><span class="template-title">{{title}}</span> <span class="template-username-wrapper">(by&emsp13;<span class="template-username">{{user.username}}</span>)</span></h3>
                <div class="subheader">
                    {{#unless ../fillin}}
                        {{>redaction-slider redactionLvls=redaction_order.length}}
                    {{/unless}}
                </div>
            </header>

            <hr />

            <div class="template-body"> {{!-- Populated via the '/javascript/template/redaction.js' script for templates that aren't loading in a fill-in --}}
                {{#if ../fillin}}
                    {{#each content as |elem|}}
                        {{#if elem.isStatic}}
                            {{#if (compare elem ' ')}}
                                &nbsp; 
                            {{else if (compare elem.staticIndex null)}}
                                &hairsp;{{elem.word}}&hairsp;
                            {{else}}
                                <span class="static">{{elem.word}}</span>
                            {{/if}}
                        {{else}}
                            <span class="mutable mutable-fillin" mutable-index="{{elem.mutableIndex}}"></span>
                        {{/if}}
                    {{/each}}
                    <script src="/javascript/fillin/populate-content.js"></script>
                {{/if}}
            </div>

            {{#unless ../fillin}}
                {{#if ../loggedIn}}
                    <span class="fillin-submit-instructions">If you like, <span class="fill-it-in">fill it in</span>, then&nbsp;&nbsp;<button type="submit" class="fillin-submit-btn">submit</button></span>
                    <p class="fillin-submit-error-msg error-msg"></p>
                    <script src="/javascript/fillin/new.js"></script>
                {{/if}}
            {{/unless}}
        </form>
    {{/with}}

    {{#if fillin}}
        <div class="fillin-meta-short">
            <p>By&nbsp;&nbsp;<span class="meta-item meta-username">{{fillin.user.username}}</span>&nbsp;&nbsp;on&nbsp;&nbsp;<span class="time">{{format_date fillin.created_at}}</span></p>

            <div class="votes">
                <a><i class="fa-solid fa-thumbs-up"></i></a>
                &nbsp;
                <span class="vote-count">{{fillin.vote_count}}</span>
            </div>
        </div>
        {{#if loggedIn}}
            <script src="/javascript/fillin/vote.js"></script>
        {{/if}}
    {{/if}}
</div>

{{#unless fillin}}
    <script src="/javascript/template/redaction.js"></script>
    {{>fillin-several-info title='User fill-ins' fillins=template.fillins sorting=true initSort=sortFillinsBy showUsernames=true showTemplateTitles=false showDeleteBtns=adminAccess}}
{{/unless}}