
{{#with template}}
    <div class="template-meta" template-id="{{id}}">
        <span class="meta-item meta-template-title"><a href="/template/{{id}}">{{meta_abbrev title}}</a></span>
        {{#if ../showUsernames}}
            &nbsp;by&nbsp; <span class="meta-item meta-username">{{user.username}}</span>
        {{/if}}
        &nbsp;|&nbsp;
        <span class="meta-item meta-fillin-count">{{fillin_count}}&nbsp;{{format_plural 'fill-in' fillin_count}}</span>
        &nbsp;|&nbsp;
        <span class="meta-item meta-created-at">Created&nbsp;on&nbsp;&nbsp;<span class="time">{{format_date created_at}}</span></span>
        {{#if ../showDeleteBtns}}
            &nbsp;&nbsp;<a class="delete-btn"><i class="fa-regular fa-trash-can"></i></a>
            <script src="/javascript/template/delete.js"></script>
        {{/if}}
    </div>
{{/with}}