{{#with template}}
    <form
        class="template"
        {{#if ../fillin}}
            fillin-id="{{../fillin.id}}"
        {{/if}}
    >
        <header>
            <h3>{{title}}</h3>
            <div class="subheader">
                <h5>By <i>{{user.username}}</i></h5>
                {{>redaction-slider redactionLvls=redaction_order.length}}
            </div>
        </header>

        <hr />

        <div class="template-body">
            {{#each content as |elem|}}
                {{#if elem.isStatic}}
                    {{#if (is_space_char elem.word)}}
                        &puncsp;
                    {{else if (compare elem.staticIndex null)}}
                        <b>{{elem.word}}</b>
                    {{else}}
                        <span class="static">{{elem.word}}</span>
                    {{/if}}
                {{else if elem.isRedacted}}
                    <span class="redacted">{{redaction_string elem.redactedString}}</span>
                {{else}}
                    <span class="mutable" mutable-index="{{elem.mutableIndex}}"><input type="text" placeholder="{{elem.label}}" /></span>
                {{/if}}
            {{/each}}
        </div>
    </form>
{{/with}}